* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: grotez-r;
  src: url("font/TomatoGroteskRegular.woff");
}

@font-face {
  font-family: ita;
  src: url("font/Canela-ThinItalic.otf");
}

@font-face {
  font-family: suise;
  src: url("font/SuisseBPIntl-Antique.woff2");
}
@font-face {
  font-family: sans;
  src: url("font/sans.b49ff1e.woff");
}

:root {
  --bg-color: #111113;
  --text-body: 35px;
  --text-title: 70px;
}

body {
  font-family: grotez-r;
  background-color: #fff;
  color: #000;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.container {
  padding: 1.5rem;
}

/*========================HEADER=========================*/

.header {
  width: 100%;
  margin: 0 auto;
}

.container__header {
  width: 100%;
  margin: 0 auto;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 14px;
  z-index: 1000;
}

.logo a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

.time {
  width: 100%;
  text-align: end;
  display: block;
}


.ita{
  font-family: ita;
}

.logo .ita {
  font-family: ita;
}

.menu-toggle-btn {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}

.span {
  height: 1px;
  background-color: #000;
  width: 40px;
  display: inline-block;
  position: absolute;
  top: 50%;
  transition: all 0.3s;
  cursor: pointer;
}

.span::before {
  content: "";
  position: absolute;
  display: inline-block;
  height: 0.6px;
  background-color: #000;
  transform: translateY(-4px);
  width: 40px;
  transition: all 0.3s;
  top: -3px;
  cursor: pointer;
}
.active .span {
  transform: rotate(45deg);
  background-color: #fff;
}

.active .span::before {
  top: unset;
  transform: rotate(-90deg);
  background-color: #fff;
}

.active:hover .span::before {
  top: unset;
}

/*===============NAV RESPONSIVE==================*/
.nav__responsive {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0;
  transform: translateY(-100%);
  z-index: 5;
}

.container__responsive {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.container__responsive ul {
  list-style: none;
  margin-bottom: 2rem;
}

.container__responsive ul li {
  overflow: hidden;
}

.container__responsive ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 70px;
  display: inline-block;
}

.footer__social {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 12px;
}
.footer__social a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}

/*======================hero section===================*/
.container__hero{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.title__hero span{
  display: inline-block;
}
.title__hero{
  font-size: 100px;
  display: flex;
  font-size: 22vw;
  overflow: hidden;
}

.title__hero .ita{
  font-weight: 300;
}

.txt{
  margin-top: 6rem;
}

.container__txt{
  text-align: center;
  font-size: 7vw;
  text-transform: uppercase;
  width: 90%;
  margin: 0 auto;
  font-weight: 500;
}

.container__txt p{
  line-height: 0.9;
}

.container__txt .ita{
  text-transform: lowercase;
}


/*===============SEC3================*/

@media screen and (max-width: 800px){
   .nav__responsive ul li a{
        
    font-size: 50px;

   }
}


@media screen and (max-width: 400px){

  .logo a{
    font-size: 11px;
  }

  .place{
    font-size: 11px;
  }

  .container{
    padding: 2rem 1rem;
  }

}
